@import './_var.scss';

* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0;
  padding: 0;
}

.custom-border {
  border: 1px solid lighten($base-color, 15%);
}

.custom-bg {
  background-color: #{$base-color}10;
}

.btn {
  width: fit-content;
  padding: 8px 12px;
  background-color: #00000020;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  transition: .3s;
  cursor: pointer;
}

.hover-lighten-base-color {

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($base-color, 35%);
    color: #101010;
  }
}