@import './_var.scss';

* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0;
  padding: 0;
}

.custom-border {
  border-color: lighten($base-color, 15%);
}

.custom-bg {
  background-color: #{$base-color}10;
}

.btn {
  width: 100%;
  padding: 6px 10px;
  background-color: #00000020;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  transition: .3s;
  text-align: center;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .btn {
    width: fit-content;
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
  }
}

.hover-lighten-base-color {

  &:hover,
  &:active,
  &:focus {
    background-color: lighten($base-color, 35%);
    color: #101010;
  }
}